<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="./static/about.css">
    <link rel="icon" href="./static/flower.ico">
</head>

<body>

    <div class="about-bg">
        
        <section class="home">
            <div class="home-content">
                <h3>Hello, It's Me</h3>
                <h1>Umesh Kumar</h1>
                <h3>And I'm a <span class="multiple-text"></span> </h3>
                <p>Seeking an entry-level position to utilize the gained skills and experience<br> to positively
                     contribute to the company </p>
            </div>

            <div class="about-img">
                <img src="./static/pass photo.png" >
            </div>
        </section>
    </div>
    <!--scroll reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--type js-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!--custom js-->
    <script src="./static/about.js"></script>
</body>

</html>