<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="./static/about.css">
    <link rel="icon" href="./static/flower.ico">

</head>
<body>
    <div class="div-project">

                <h1>Projects <span class="proj-texts"></span> </h1>
    
        
    </div>
        <!--scroll reveal-->
        <script src="https://unpkg.com/scrollreveal"></script>
        
        <!--type js-->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

        <!--custom js-->
        <script src="./static/project.js"></script>
</body>
</html>