<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="./static/contactstyle.css">
    <link rel="icon" href="./static/flower.ico">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="contact-div">
        <div class="thank">
        <h1 >Thank you for contact me. I will get in touch with you, Shortly</h1>
    </div>
</div>
</body>

</html>